/* This file contains global styles for '4-index.html' and '5-index.html'*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
}
